// styles/main.scss
@use './variables.scss';
@use './layout.scss';
@use './sidebar.scss';
@use './navbar.scss';
@use './login.scss';
@use './statsDisplay.scss';
@use './userDetails.scss';
@use './userTable.scss';
@use './filterPopup.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

